{% extends "base.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}

{% include "single_question.html" %}

<hr class="hr-style">

{% for answer in answers %}
    {% include "single_answer.html" %}
{% endfor %}

<script src="/js/likes.js"></script>
<script src="/js/correct.js"></script>
{% include "paginator.html" with pages=answers %}
{% if user.is_authenticated %}
<hr class="hr-style">
<form class="form-horizontal" method="post" action="{% url 'id_question' question.id %}">
    {% csrf_token %}

    {% for field in form %}
        {% include "form_field.html" %}
    {% endfor %}
    <div class="form-group">
        <div class="col-sm-offset-2">
            <button type="submit" class="btn btn-default alert-danger">Answer</button>
        </div>
    </div>
</form>
{% endif %}
{% endblock %}