{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<h2>New Question</h2>
<hr class="hr-style">
<form class="form-horizontal" method="post" action="{% url 'ask' %}">
    {% csrf_token %}

    {% for field in form %}
        {% include "form_field.html" %}
    {% endfor %}
    <div class="form-group">
        <div class="col-sm-offset-2">
            <button type="submit" class="btn btn-default alert-danger">Ask</button>
        </div>
    </div>
</form>
{% endblock %}