<!--<div class="paginator">-->
<!--<span class="step-links">-->
<!--{% if pages.has_previous %}-->
<!--<a href="?page={{pages.previous_page_number}}">previous</a>-->
<!--{% endif %}-->

<!--<span class="current">-->
<!--Page {{pages.number}} of {{ pages.paginator.num_pages}}.-->
<!--</span>-->

<!--{% if pages.has_next %}-->
<!--<a href="?page={{pages.next_page_number}}">next</a>-->
<!--{% endif %}-->

<!--</span>-->
<!--</div>-->

<nav>
    <ul class="pagination">
        <li>
            {% if pages.has_previous %}
            <a href="?page={{pages.previous_page_number}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            {% endif %}
        </li>
        {% for page_number in pages.paginator.page_range %}
        <li {% if page_number == pages.number %} class="active" {% endif %}>
            <a href="?page={{page_number}}">{{page_number}}</a>
        </li>
        {% endfor %}
        <li>
            {% if pages.has_next %}
            <a href="?page={{pages.next_page_number}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            {% endif %}
        </li>
    </ul>
</nav>