{% extends "base.html" %}


{% block title %}
    Sign Up
{% endblock %}

{% block content %}
<h2>Registration</h2>
<hr class="hr-style">

{% if form.non_field_errors %}
    <p>{{form.non_field_errors}}</p>
{% endif %}
<form class="form-horizontal" enctype="multipart/form-data" method="post" action="{% url 'signup' %}">
    {% csrf_token %}

    {% for field in form %}
    <div class="form-group {% if field.errors %} has-error {% endif %}">
        {{field.errors}}
        <label for="input{{ field.label }}" class="col-sm-2 control-label">{{ field.label }}</label>
        <div class="col-sm-5" class="form-control" id="input{{ field.label }}">
            {{ field }}
        </div>
    </div>
    {% endfor %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-5">
            <button type="submit" class="btn btn-default alert-danger">Register</button>
        </div>
    </div>
</form>

{% endblock %}