{% extends "base.html" %}


{% block title %}
    Sign Up
{% endblock %}

{% block content %}
<h2>Registration</h2>
<hr class="hr-style">

<div  class="col-sm-offset-2 form_error" >
    {{form.non_field_errors}}
</div>
<form class="form-horizontal" enctype="multipart/form-data" method="post" action="{% url 'signup' %}">
    {% csrf_token %}

    {% for field in form %}
        {% include "form_field.html" %}
    {% endfor %}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-5">
            <button type="submit" class="btn btn-default alert-danger">Register</button>
        </div>
    </div>
</form>

{% endblock %}