<div class="row brd"><!--Start of answer-->
    <div class="col-md-2">
        <img src="/images/dog2.jpg" class="img-circle question-pic div-center" id="a_{{answer.id}}">

        <div class="div-center">
            <h5>{{answer.rating}}</h5>
        </div>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default btn-sm btn-success" aria-label="Left Align">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default btn-sm btn-danger" aria-label="Left Align">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>
        </div>


    </div>
    <div class="col-md-10">
        <p>{{answer.text}}</p>
        <p>By <a href="{% url 'profile' answer.author.get_username %}">{{answer.author.get_username}}</a> </p>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="">
                &nbsp;Correct!
            </label>
        </div>
    </div>

</div><!--End of answer-->