<div class="row brd" id="a_{{answer.id}}"><!--Start of answer-->
    <div class="col-md-2">
        <img src="/images/dog2.jpg" class="img-circle question-pic div-center">
        <h3><font color="green" id ="correct_{{answer.id}}"> {% if answer.is_correct %} Correct! {%endif%}</font></h3>
    </div>
    <div class="col-md-10">

        <p>{{answer.text}}</p>
        <p>By <a href="{% url 'profile' answer.author.get_username %}">{{answer.author.get_username}}</a></p>
        {% if request.user == question.author %}
        <div class="checkbox">
            <label>
                <input type="checkbox" class="correct" data-aid="{{answer.id}}" {% if answer.is_correct %} checked
                       {%endif%}>

                &nbsp;Correct!
            </label>
        </div>
        {%endif%}
    </div>

</div><!--End of answer-->